  <div class="collection-container">
    <div>
      <h3>{{{headline}}}
        {{#if user._id}}
        <span class="pull-right">
          <a href="/collection/manage" class="btn btn-default" role="button">Manage Your Collection</a>
        </span>
        {{/if}}
      </h3>
    </div>
    <div class="row">
      {{#each shows}}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card card-inverse">
          {{#if posterUrl}}<img class="card-img" src="{{posterUrl}}" alt="{{name}} Poster" width="100%">{{/if}}
          <div class="card-img-overlay">
            <h3 class="card-title">{{name}}</h3>
            <p class="card-text collection-description"><small>{{description}}</small></p>
            <p class="card-text">
              {{#if last_episode}}
                {{last_episode.title}} / {{last_episode.air_date}}
              {{else}}
                No Episodes To Watch
              {{/if}}
            </p>
            <a class="btn btn-primary" href="/show/{{global_id}}" role="button">Go</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
