    <div>
      <h3>{{{headline}}}</h3>
    </div>
    <br>
    <div class="form-inline">
      <div class="form-group">
        <label for="show_name">Show Name</label>
        <input class="form-control" id="show_name" placeholder="Enter show to add">
      </div>
      <button type="submit" id="add_show" class="btn btn-default">Add</button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Show</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="collection">
        {{#each shows}}
        <tr class="collection-row" id="show-{{global_id}}">
          <td class="collection-show-name col-md-11">{{name}}</td>
          <td class="collection-show-button col-md-1">
            <button class="btn btn-default remove_show" data-show="{{global_id}}" data-name="{{name}}" role="button">Remove</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <hr>
