    <div>
      <h3>{{{headline}}}</h3>
    </div>
    <input type="hidden" id="show_id" value="{{show.global_id}}">
    <table class="table table-striped">
          <tbody>
          <tr>
          <td>Seasons</td>
          <td>{{show.seasons}}</td>
          </tr>
          <tr>
          <td>Last Episode</td>
          <td>{{show.last_episode.title}} / {{show.last_episode.air_date}}</td>
          </tr>
          <tr>
          <td>Genre</td>
          <td>N/A</td>
          </tr>
          <tr>
          <td>Network</td>
          <td>N/A</td>
          </tr>
          <tr>
          <td>Status</td>
          <td>{{show.status}}</td>
          </tr>
      </tbody>
    </table>
    <br>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {{#each listing.seasons}}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_season-{{season}}">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#season-{{season}}" aria-expanded="true" aria-controls="season-{{season}}">
              {{../show.name}} - Season {{season}}
            </a>
          </h4>
        </div>
        <div id="season-{{season}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_season-{{season}}">
          <div class="panel-body">
            <table class="table">
              {{#if ../user._id}}
              <thead>
                <tr>
                  <td><button class="btn btn-default collection-season-watch" role="button" data-season="{{season}}">Watch</button></td>
                  <td>Mark all <strong>{{total_episodes}}</strong> episodes in season {{season}} as watched</td>
                </tr>
              </thead>
              {{/if}}
              <tbody>
                {{#each episodes}}
                <tr id="episode-{{episode_number}}"
                {{#if watched}}
                  class="info"
                {{/if}}
                >
                  <td class="col-md-1">
                  {{#if ../../user._id}}
                  <div class="checkbox watch-checkbox-div">
                    <label
                    {{#unless aired}}
                      class="disabled"
                    {{/unless}}
                    >
                      <input type="checkbox" class="season-{{../../season}} collection-watch" data-episode="{{episode_number}}"
                      {{#if aired}}
                        {{#if watched}}
                        checked
                        {{/if}}
                      {{else}}
                        disabled
                      {{/if}}
                      > Watched
                    </label>
                  </div>
                  {{else}}
                  <a href="/auth/twitter">Track</a>
                  {{/if}}
                  </td>
                  <td class="col-md-2">S{{../season}}E{{season_number}}</td>
                  <td class="col-md-7"><a href="{{link}}" target="_blank">{{title}}</a></td>
                  <td class="col-md-2">{{air_date}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{/each}}
    </div>


    <hr>
